<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129891340265-d98j72kl9fkh10hlqcttb72frad2mcbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129891340265-d98j72kl9fkh10hlqcttb72frad2mcbe</string>
	<key>API_KEY</key>
	<string>AIzaSyA6JtJ3UjoVdUAgH7WH-WIFfGBXT2FBmjI</string>
	<key>GCM_SENDER_ID</key>
	<string>129891340265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutternotes.flutternotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-sampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-sampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129891340265:ios:64990988c5de8b85af8578</string>
</dict>
</plist>